$bg_main_light: #E2E7E8;
$bg_main_dark: #355;
$bg_sub_light: #FFEFE0;
$text_color_main: #355;

// SASS style sheet
// Palette color codes
// Palette URL: http://paletton.com/#uid=23i0u0kcOhN6WrrakmggOdmmdbf */

// Feel free to copy&paste color codes to your application */

// As hex codes */

$color-primary-0: #335555;

// Main Primary color */
$color-primary-1: #678383;
$color-primary-2: #486A6A;
$color-primary-3: #1E4040;
$color-primary-4: #103636;

$color-complement-0: #8E6F55;

// Main Complement color */
$color-complement-1: #DBC1AB;
$color-complement-2: #B19278;
$color-complement-3: #6A4C33;
$color-complement-4: #5A381B;

// As RGBa codes */

$rgba-primary-0: rgba(51, 85, 85, 1);

// Main Primary color */
$rgba-primary-1: rgba(103, 131, 131, 1);
$rgba-primary-2: rgba(72, 106, 106, 1);
$rgba-primary-3: rgba(30, 64, 64, 1);
$rgba-primary-4: rgba(16, 54, 54, 1);

$rgba-complement-0: rgba(142, 111, 85, 1);

// Main Complement color */
$rgba-complement-1: rgba(219, 193, 171, 1);
$rgba-complement-2: rgba(177, 146, 120, 1);
$rgba-complement-3: rgba(106, 76, 51, 1);
$rgba-complement-4: rgba(90, 56, 27, 1);
