@mixin footercolor {
    color: #fff;
}

footer {
    @include footercolor;

    background: $bg_main_dark;
    overflow: auto;
    padding: 20px;

    h2 {
        @include fontstack-trebuchet;

        text-align: center;
    }

    a {
        @include footercolor;

        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .right {
        text-align: right;
    }
}
