header {
    background: $bg_main_light;
    font-family: 'Trebuchet MS','Lucida Grande','Lucida Sans Unicode','Lucida Sans',Tahoma,sans-serif;
    overflow: auto;

    h1 {
        background: $bg_main_dark;
        color: #fff;
        float: left;
        font-size: 40px;
        padding: 20px 50px;
    }

    h2 {
        color: $text_color_main;
        float: right;
        font-size: 30px;
        line-height: 2;
        padding: 20px 20px 0;
    }
}
