header {
    @include fontstack-trebuchet;

    background: $bg_main_light;
    overflow: auto;

    h1 {
        background: $bg_main_dark;
        color: #fff;
        float: left;
        font-size: 40px;
        padding: 20px 50px;
    }

    h2 {
        color: $text_color_main;
        float: right;
        font-size: 30px;
        line-height: 2;
        padding: 20px 20px 0;
    }

    a {
        text-decoration: none;

        &:hover {
            &::before {
                content: 'Contact me - ';
                color: #999;
            }

            text-decoration: underline;
        }
    }
}
