.projects {
    background: lighten($bg_main_light, 5%);
    margin: 20px 0;
    padding: 20px 0;

    > ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        list-style-type: none;

        > li {
            background: #FFF;
            -webkit-border-radius: 20px 0;
            border-radius: 20px 0;
            cursor: pointer;
            margin: 10px;
            padding: 10px 20px;
            max-width: 340px;
        }
    }

    .tags {
        padding: 0;

        li {
            background: lighten($bg_main_light, 7%);
            -webkit-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.4);
            -moz-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.4);
            box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.4);
            color: #444;
            display: inline-block;
            font-size: smaller;
            margin: 5px;
            padding: 3px 5px;
            -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);

            &:nth-child(2) {
                -webkit-transform: rotate(-2deg);
                transform: rotate(-2deg);
                margin-left: 3px;
            }

            &:nth-child(3) {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }

            &:hover {
                background-color: #F7F1D3;
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }

            span {
                display: inline-block;
                -webkit-transform: rotate(1deg);
                transform: rotate(1deg);
            }
        }
    }

    p {
        line-height: 1.7;
    }

    .year {
        text-align: center;
        position: relative;

        span {
            background: #fff;
            color: #bbb;
            display: inline-block;
            font-size: small;
            padding: 8px 8px 12px;
            position: relative;
            z-index: 1;
        }

        hr {
            border: none;
            border-bottom: 1px solid #bbb;
            position: absolute;
            top: 9px;
            width: 100%;
        }
    }

    .logo {
        align-items: center;
        display: flex;
        justify-content: center;
        height: 50px;
        width: 100%;
    }

    .sanoma {
        background-color: #4d4d4d;
    }

    .belastingdienst {
        height: 80px;
        img {
            height: 80px;
        }
    }

    .appietoday {
        height: 80px;
    }

    .really {
        height: 80px;

        img {
            height: 80px;
        }
    }

    .albelli img {
        height: 100px;
    }

    .klm img {
        height: 70px;
    }

    .breman img {
        height: 60px;
    }

    .ing img {
        height: 60px;
    }
}
